@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700&display=swap");

// Main Colors
$primary-brand-color: rgb(196, 10, 10);
$secondary-brand-color: rgb(243, 243, 243);
$tertiary-brand-color: rgb(26, 26, 26);

$primary-font-color: rgb(228, 186, 0);
$tertiary-font-color: #ccc;
$forth-font-color: rgb(15, 15, 15);

$primary-font: "Roboto", sans-serif;
